* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Set root variables for colors */
:root {
  --primary: #a34343;
  --secondary: #e9c874;
  --tertiary: #fbf8dd;
  --light: #fff;
  --dark: #000;
}

/* Body styles */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: var(--tertiary);
}

/* Header styles */
header {
  background-color: var(--primary);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header__title {
  color: var(--secondary);
  font-size: 32px;
  font-weight: 600;
  margin-left: 2rem;
}

.header__menu {
  font-size: 32px;
  margin: 10px 20px;
  display: block;
  padding: 10px;
}

/* Navigation styles */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
}

.nav__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.nav__item {
  list-style: none;
}

.nav__item a {
  color: var(--secondary);
  border-radius: 999px;
  text-decoration: none;
  padding: 1rem 1.5rem;
  min-width: 44px;
  min-height: 44px;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item a:hover,
.nav__item a:focus {
  background-color: var(--secondary);
  color: var(--dark);
}

/* Hero styles */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 450px;
  width: 100%;
  text-align: center;
  background-image: url('../public/images/hero-image.jpg');
  background-position: center;
  background-color: green;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

.hero__inner {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding: 10px;
  max-width: 800px;
}

.hero__title {
  color: var(--tertiary);
  font-weight: 700;
  font-size: 36px;
}

.hero__tagline {
  color: var(--tertiary);
  margin-top: 16px;
  font-size: 18px;
  font-weight: 500;
}

/* Main styles */
main {
  width: 100%;
  margin: 0 auto;
}

.content {
  padding: 32px;
  margin: 0 auto;
}

.catalogue {
  width: 100%;
  margin: 40px auto;
  text-align: center;
}

.catalogue__title {
  color: var(--primary);
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 2rem;
}

.catalogue__lists {
  display: grid;
  width: 100%;
  gap: 1.5rem;
  text-align: justify;
}

.catalogue__item {
  text-decoration: none;
  color: inherit;
  background-color: var(--light);
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all ease-in-out 0.3s;
}

.item__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.item__content {
  padding: 1rem;
}

.item__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--primary);
}

.item__city {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.item__rating {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.item__description {
  font-size: 14px;
}

.catalogue__item:hover,
.catalogue__item:focus {
  transform: scale(0.95);
  background-color: var(--secondary);
  cursor: pointer;
}

/* Footer style */

footer {
  width: 100%;
  margin: 0 auto;
  background-color: var(--primary);
}

footer h1 {
  font-size: 18px;
  font-weight: 400;
  color: var(--light);
  text-align: center;
  padding: 1rem;
}

/* Skip to content style */

.skip-to-content {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: var(--secondary);
  color: var(--light);
  padding: 10px;
  text-decoration: none;
}

.skip-to-content:focus {
  top: 0;
  outline: none;
}

/* Detail page style */

.restaurant__detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light);
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.restaurant__image {
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  object-fit: cover;
}

.restaurant__info {
  margin-top: 32px;
  width: 100%;
  max-width: 600px;
}

.restaurant__title {
  font-size: 24px;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 8px;
}

.description__title {
  color: var(--dark);
  margin-bottom: 8px;
  margin-top: 32px;
}

.restaurant__rating,
.restaurant__city,
.restaurant__address,
.restaurant__description {
  font-size: 16px;
  margin-bottom: 8px;
}

.restaurant__description {
  text-align: justify;
}

.restaurant__categories {
  margin-top: 32px;
}

.categories__title {
  margin-bottom: 16px;
}

.category {
  background-color: var(--secondary);
  color: var(--dark);
  border-radius: 999px;
  padding: 8px 12px;
  margin-right: 8px;
  font-size: 14px;
}

.restaurant__menus {
  margin-top: 32px;
}

.menu__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}

.menu__columns {
  display: flex;
  gap: 20px;
}

.menu__foods,
.menu__drinks {
  flex: 1;
  margin-top: 8px;
  padding-left: 16px;
}

.menu__foods h4,
.menu__drinks h4 {
  font-size: 18px;
  font-weight: 600;
}

.restaurant__reviews {
  margin-top: 32px;
}

.review {
  background-color: var(--tertiary);
  padding: 12px;
  border-radius: 8px;
  margin-top: 8px;
}

.review h4 {
  font-size: 16px;
  font-weight: 700;
}

.review p {
  font-size: 14px;
  margin-top: 4px;
}

.review span {
  font-size: 12px;
  color: var(--dark);
  display: block;
  margin-top: 4px;
}

/* Like button style */

.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;

  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;

  font-size: 18px;
  color: white;
  cursor: pointer;
}

/* Loading Indicator style */
.loading-indicator {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  z-index: 1000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}

.hidden {
  display: none;
}
